<h2>Welcome to Pizza Shop!</h2>

  <div class="row">
    <% @products.each do |p| %>
      <div class="col-md-3">
      	<div><%= p.title %></div>
      	<div><img src="<%= p.path_to_image %>" style="width: 200px; height: 150px;"/></div>
      	<div><%= p.description %></div>
      	<div>Price: <%= p.price %> UAN</div>
      	<div>Size <%= p.size %> cm</div>
      	<div><button type="button" class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)">Add to cart</button></div>
      </div>

    <% end %>
  </div>
<br/>
<br/>
<br/>


<button class="btn btn-primary btn-lg" onclick="something()">Click me!</button>





