<h2>Welcome to Pizza Shop!</h2>
<h2>Список продуктов</h2>
<% @products.each do |product| %>
  <p>
  	<a href="/index/<%= product.id %>"><%= product.title %></a>
  	<%= product.description %>
  	<%= product.price %>
  	<%= product.size %>
  	
  </p> 
<% end %>


